@media screen and (max-width: 450px) {
  .miss-container {
    display: flex !important;
    flex-direction: column !important;
  }

  .miss-left {
    width: 100% !important;
  }

  .miss-right {
    width: 100% !important;
  }
}
